<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Treino</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
				<div id="container">
					<fieldset>
						<legend>Cadastra nome do treino</legend>
						<div>
							<h:outputText value="Treino  (ex.:(A,B,C...)) " style="display:block; margin:0px 5px 0px 21px" />
							<h:inputText size="30" tabindex="1"	style="margin:0px 8px 10px 0px"	value="#{tipoTreinoControlador.tipoTreino.nome}" />
						</div>
						<p:commandButton value="Salvar" style="margin:10px 5px 0px 21px;width:120px;background-image:none;background-color:lightgreen;border:none!important" 
							action="#{tipoTreinoControlador.salvar()}"></p:commandButton>
							
							<p:commandButton value="Pesquisar" style="margin:10px 5px 0px 5px;width:120px;background-image:none;background-color:PowderBlue;border:none!important" 
							action="#{tipoTreinoControlador.chamaTelaPesquisa()}"></p:commandButton>
							
							<p:commandButton value="Excluir" onclick="PF('exclusaoTipoTreino').show()"
					 		style="background-image:none;width:120px;background-color:salmon;border:none!important"/>
							<p:confirmDialog
								message="Tem certeza que deseja excluir Treino?"
								header="Excluir Treino"								 
								severity="alert"
								widgetVar="exclusaoTipoTreino">
								<p:commandButton value="SIM"
									style="background-image:none;background-color:salmon;border:none!important"
									action="#{tipoTreinoControlador.excluir(tipoTreinoControlador.tipoTreino)}" 
									oncomplete="PF('exclusaoTipoTreino').hide()" />
								<p:commandButton
								style="background-image:none;background-color:lightGreen;border:none!important"
								 value="NÃO" onclick="PF('exclusaoTipoTreino').hide();"/>
							</p:confirmDialog> 
					</fieldset>
					</div>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
