<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Ficha de Treino</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form id="formFichaAluno">

					<div id="fichaAluno">
						<fieldset>
							<!--  	<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"  />-->

							<legend>Ficha de Treino</legend>

							<div class="formataInput">



								<p:tabView id="fichaAluno" scrollable="true">

									<p:tab id="tabFicha" title="Ficha do Aluno">
										<p:growl id="growl" life="3000" />

										<h:panelGrid columns="6">

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Id" />
													<h:inputText size="6" tabindex="1"
														style="margin:0px 5px 0px 0px" readonly="true"
														value="#{fichaTreinoControlador.fichaTreino.id}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px;"
														value="Status" />
													<p:selectOneMenu tabindex="2"
														style="margin:0px 5px 0px 0px;width:100px;font-size:15px"
														value="#{fichaTreinoControlador.fichaTreino.fichaEnum}">
														<f:selectItems itemDisabled="true"
															value="#{fichaTreinoControlador.fichaTreinoEnum}" />
													</p:selectOneMenu>
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
														value="Aluno" />
													<p:selectOneMenu tabindex="3"
														style="width:305px; margin:0px 8px 0px 0px;"
														value="#{fichaTreinoControlador.clienteId}">
														<f:selectItem itemLabel="Selecione um aluno..."
															itemValue="" />
														<f:selectItems
															value="#{fichaTreinoControlador.listarTodosClientes()}"
															var="c" itemLabel="#{c.nome}" itemValue="#{c.id}" />
													</p:selectOneMenu>
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
														value=" Inicio " for="dataInicio" />
													<p:calendar tabindex="4" id="dataInicio" navigator="true"
														yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
														mode="popup" readonlyInput="true"
														style="margin:0px 5px 0px 0px;width:85px" size="7"
														value="#{fichaTreinoControlador.fichaTreino.dataInicio}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
														value=" Conclusão " for="fimTreino" />
													<p:calendar id="fimTreino" navigator="true"
														yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
														tabindex="5" showOn="none" readonly="true"
														readonlyInput="true" size="7"
														style="margin:0px 5px 0px 0px;"
														value="#{fichaTreinoControlador.fichaTreino.fimTreino}" />
												</div>
											</h:column>

										</h:panelGrid>

										<h:panelGrid columns="3">

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Objetivo" />
													<h:inputText size="53" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.objetivoTreino}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Tel. emergência" />
													<p:inputMask size="17" tabindex="7"
														style="margin:0px 5px 0px 0px;width:160px"
														mask="(999) 9999-9999"
														value="#{fichaTreinoControlador.fichaTreino.telefone2}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="telefone" />
													<p:inputMask tabindex="8"
														style="margin:0px 5px 0px 0px;width:160px"
														mask="(999) 9999-9999"
														value="#{fichaTreinoControlador.fichaTreino.telefone1}" />
												</div>
											</h:column>

										</h:panelGrid>

										<h:panelGrid columns="7">
											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Segunda-Feira" />

													<h:inputText size="10" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.segunda}" />

												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Terça-Feira" />

													<h:inputText size="10" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.terca}" />

												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Quarta-Feira" />

													<h:inputText size="10" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.quarta}" />

												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Quinta-Feira" />

													<h:inputText size="10" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.quinta}" />

												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Sexta-Feira" />

													<h:inputText size="10" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.sexta}" />

												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block;margin:0px 0px 5px 0px"
														value="Sábado" />

													<h:inputText size="10" tabindex="6"
														style="margin:0px 5px 0px 0px"
														value="#{fichaTreinoControlador.fichaTreino.sabado}" />

												</div>
											</h:column>

										</h:panelGrid>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Obervação" />
												<p:inputTextarea tabindex="9" rows="3" cols="96" />
											</div>
										</h:column>

										<h:panelGrid columns="3">


											<h:column>
												<div>
													<p:commandButton tabindex="10" value="Salvar"
														style="margin:10px 8px 0px 0px;width:120px; background-image:none;background-color:lightgreen;border:none!important"
														update="growl"
														actionListener="#{fichaTreinoControlador.salvar()}"></p:commandButton>
												</div>
											</h:column>

											<h:column>
												<div>
													<p:commandButton value="Pesquisar"
														style="margin:10px 8px 0px 0px;width:120px;background-image:none;background-color:PowderBlue;border:none!important"
														action="#{fichaTreinoControlador.chamaTelaPesquisaTreino()}"
														process="@this" update="@none">

														<p:ajax event="dialogReturn"
															listener="#{fichaTreinoControlador.fichaSelecionado}"
															process="@this" update=":formFichaAluno"
														/>
													</p:commandButton>
												</div>
											</h:column>


										</h:panelGrid>
									</p:tab>

									<!-- FIM DO TAB FICHA ALUNO -->

									<p:tab id="tabExercicios" title="Insere Exercicios">

										<h:panelGrid columns="7">
											<h:column>
												<div>
													<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
														value="Tipo do treino" />


													<p:selectOneMenu
														style="width:120px; margin:0px 8px 0px 0px"
														value="#{fichaTreinoControlador.tipoTreinoId}">
														<f:selectItem itemLabel="" itemValue="" />
														<f:selectItems
															value="#{fichaTreinoControlador.listarTodosTiposTreinos()}"
															var="t" itemLabel="#{t.nome}" itemValue="#{t.id}" />
													</p:selectOneMenu>
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Posicao" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.exercicioDaFicha.posicao}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
														value="Exercicio" />


													<p:selectOneMenu
														style="width:200px;font-size:16px; margin:0px 8px 0px 0px"
														value="#{fichaTreinoControlador.exercicioId}">
														<f:selectItem itemLabel="" itemValue="" />
														<f:selectItems
															value="#{fichaTreinoControlador.listarTodosExercicios()}"
															var="e" itemLabel="#{e.nome}" itemValue="#{e.id}" />
													</p:selectOneMenu>
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Série" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.exercicioDaFicha.serie}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Repetições" />
													<h:inputText style="margin:0px 0px 0px 0px" size="5"
														value="#{fichaTreinoControlador.exercicioDaFicha.repeticoes}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Carga" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.exercicioDaFicha.carga}" />
												</div>
											</h:column>


										</h:panelGrid>
										<div>
											<div>
												<p:commandButton value="Adiciona"
													style="margin:8px 0px 3px 0px;background-image:none;background-color:lightgreen; "
													action="#{fichaTreinoControlador.adicionaExercicioNoList()}"
													update="dataInsereExercicios" />
											</div>
										</div>


										<h:panelGrid columns="2">
											<h:column>
												<div>
													<p:dataTable id="dataInsereExercicios"
														emptyMessage="Nenhum registro encontrado"
														value="#{fichaTreinoControlador.exerciciosDaLista()}"
														paginator="true" rows="5" var="exer">

														<f:facet name="header">
														       Exercícios a serem inseridos na ficha do aluno
												        </f:facet>

														<p:column>
															<f:facet name="header">
																<div align="center">
																	<h:outputText style="font-size:14px" value="Treino" />
																</div>
															</f:facet>
															<h:outputText value="#{exer.tipoTreino.nome}" />
														</p:column>

														<p:column width="100">
															<f:facet name="header">
																<div align="center">
																	<h:outputText style="font-size:14px" value="Posicao" />
																</div>
															</f:facet>
															<h:outputText value="#{exer.posicao}" />
														</p:column>

														<p:column width="300">
															<f:facet name="header">
																<div align="center">
																	<h:outputText style="font-size:14px" value="Exercicio" />
																</div>
															</f:facet>
															<h:outputText value="#{exer.exercicio.nome}" />
														</p:column>

														<p:column>
															<f:facet name="header">
																<div align="center">
																	<h:outputText style="font-size:14px" value="Série" />
																</div>
															</f:facet>
															<h:outputText value="#{exer.serie}" />
														</p:column>

														<p:column width="100">
															<f:facet name="header">
																<div align="center">
																	<h:outputText style="font-size:14px" value="Repetições" />
																</div>
															</f:facet>
															<h:outputText value="#{exer.repeticoes}" />
														</p:column>

														<p:column>
															<f:facet name="header">
																<div align="center">
																	<h:outputText style="font-size:14px" value="Carga" />
																</div>
															</f:facet>
															<h:outputText value="#{exer.carga}" />
														</p:column>

														<p:column style="width:50px">
															<f:facet name="header">
																<h:outputText style="font-size:14px" value="Ações" />
															</f:facet>
															<h:commandLink
																action="#{fichaTreinoControlador.excluirExercicioList(exer)}"
																style="color:red;font-size:12px" value="Excluir"
																update="dataInsereExercicios" />

														</p:column>




													</p:dataTable>
												</div>
											</h:column>
										</h:panelGrid>

									</p:tab>
									<!-- FIM DO TAB EXERCICIOS -->

									<p:tab id="tabPerimetria" title="Insere Perimetria">
										<h:panelGrid columns="9">

											<h:column>
												<div>
													<h:outputText style="display:block" value="Peso" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.perimetriaDaFicha.peso}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Altura" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.perimetriaDaFicha.altura}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Ombro" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.perimetriaDaFicha.ombro}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Tórax" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.perimetriaDaFicha.torax}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Abdomem" />
													<h:inputText style="margin:0px 0px 0px 0px" size="5"
														value="#{fichaTreinoControlador.perimetriaDaFicha.abdomem}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Cintura" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.perimetriaDaFicha.cintura}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Quadril" />
													<h:inputText style="margin:0px 0px 0px 0px" size="3"
														value="#{fichaTreinoControlador.perimetriaDaFicha.quadril}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Braço Dir." />
													<h:inputText style="margin:0px 0px 0px 0px" size="6"
														value="#{fichaTreinoControlador.perimetriaDaFicha.bracoDir}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Braço Esq." />
													<h:inputText style="margin:0px 0px 0px 0px" size="6"
														value="#{fichaTreinoControlador.perimetriaDaFicha.bracoEsq}" />
												</div>
											</h:column>
										</h:panelGrid>

										<h:panelGrid columns="6">
											<h:column>
												<div>
													<h:outputText style="display:block" value="Antebraço Dir." />
													<h:inputText style="margin:0px 0px 0px 0px" size="10"
														value="#{fichaTreinoControlador.perimetriaDaFicha.anteBracoDir}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Antebraço Esq." />
													<h:inputText style="margin:0px 0px 0px 0px" size="11"
														value="#{fichaTreinoControlador.perimetriaDaFicha.anteBracoEsq}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Coxa Dir." />
													<h:inputText style="margin:0px 0px 0px 0px" size="6"
														value="#{fichaTreinoControlador.perimetriaDaFicha.coxaDir}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Coxa Esq." />
													<h:inputText style="margin:0px 0px 0px 0px" size="6"
														value="#{fichaTreinoControlador.perimetriaDaFicha.coxaEsq}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Panturilha Dir." />
													<h:inputText style="margin:0px 0px 0px 0px" size="10"
														value="#{fichaTreinoControlador.perimetriaDaFicha.panturilhaDir}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText style="display:block" value="Panturilha Esq." />
													<h:inputText style="margin:0px 0px 0px 0px" size="11"
														value="#{fichaTreinoControlador.perimetriaDaFicha.panturilhaEsq}" />
												</div>
											</h:column>
										</h:panelGrid>


										<div>
											<p:commandButton value="Adiciona"
												style="margin:5px 8px 5px 0px;border:none; background-image:none;background-color:lightGreen;"
												action="#{fichaTreinoControlador.adicionaPerimetriaNoList()}"
												update="dataTableInserePerimetria" />
										</div>


										<h:panelGrid columns="2">
											<h:column>
												<div>
													<p:panel style="width:800px">
														<p:dataTable id="dataTableInserePerimetria"
															emptyMessage="Nenhum registro encontrado"
															value="#{fichaTreinoControlador.perimetriaDaLista()}"
															paginator="true" rows="5" var="pl">

															<f:facet style="color:red" name="header">
															Perimetria a ser inserida na ficha
																														
															<p:commandButton id="toggler" type="button"
																	value="Colunas"
																	style="float:right;font-size: 12px; color:red "
																	icon="ui-icon-calculator" />
																<p:columnToggler datasource="dataTableInserePerimetria"
																	trigger="toggler" />
															</f:facet>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Peso" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.peso}" />
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Altura" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.altura}" />
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Ombro" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.ombro}" />
															</p:column>

															<p:column style="width:80px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Abdomem" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.abdomem}" />
															</p:column>

															<p:column style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Cintura" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.cintura}" />
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Tórax" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.torax}" />
															</p:column>

															<p:column style="width:70px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Braço Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.bracoDir}" />
															</p:column>

															<p:column style="width:70px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Braço Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.bracoEsq}" />
															</p:column>

															<p:column visible="false" style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px"
																			value="Ant.Braço Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.anteBracoDir}" />
															</p:column>

															<p:column visible="false" style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px"
																			value="Ant.Braço Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.anteBracoEsq}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Coxa Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.coxaDir}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Coxa Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.coxaEsq}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Pant.Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.panturilhaDir}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Pant.Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{pl.panturilhaEsq}" />
															</p:column>

															<p:column style="width:50px;">
																<f:facet name="header">
																	<h:outputText style="font-size:14px" value="Ações" />
																</f:facet>
																<h:commandLink
																	action="#{fichaTreinoControlador.excluirPerimetriaList(pl)}"
																	style="color:red;font-size:12px" value="Excluir"
																	update="dataTableInserePerimetria" />

															</p:column>
														</p:dataTable>
													</p:panel>
												</div>
											</h:column>
										</h:panelGrid>
									</p:tab>

									<p:tab id="tabListaExercicio" title="Exercícios">
										<div>
											<p:commandButton value="Atualiza Exercícios"
												style="margin:5px 8px 5px 0px;background-image:none;background-color:lightgreen;"
												action="#{fichaTreinoControlador.listarExerciciosDaFicha()}"
												update="dataTableListaExercicios" />
										</div>


										<p:dataTable id="dataTableListaExercicios"
											emptyMessage="Nenhum registro encontrado"
											value="#{fichaTreinoControlador.listarExerciciosDaFicha()}"
											paginator="true" rows="10" var="exer">

											<f:facet name="header">
											       Exercícios 
											</f:facet>

											<p:column sortBy="exer.tipoTreino.nome">
												<f:facet name="header">
													<div align="center">
														<h:outputText value="Treino" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.tipoTreino.nome}" />
											</p:column>

											<p:column sortBy="exer.posicao">
												<f:facet name="header">
													<div align="center">
														<h:outputText value="Posicao" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.posicao}" />
											</p:column>

											<p:column width="300">
												<f:facet name="header">
													<div align="center">
														<h:outputText value="Exercicio" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.exercicio.nome}" />
											</p:column>

											<p:column>
												<f:facet name="header">
													<div align="center">
														<h:outputText value="Série" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.serie}" />
											</p:column>

											<p:column width="100">
												<f:facet name="header">
													<div align="center">
														<h:outputText value="Repetições" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.repeticoes}" />
											</p:column>

											<p:column>
												<f:facet name="header">
													<div align="center">
														<h:outputText value="Carga" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.carga}" />
											</p:column>


										</p:dataTable>

									</p:tab>

									<p:tab id="tabListaPerimetria" title="Perimetria">
										<div>
											<p:commandButton value="Atualiza Perimetria"
												style="margin:5px 8px 5px 0px;background-image:none;background-color:lightgreen;"
												action="#{fichaTreinoControlador.listarPerimetriaDaFicha()}"
												update="dataTableListaPerimetria" />
										</div>


										<h:panelGrid columns="2">
											<h:column>
												<div>
													<p:panel style="width:780px">
														<p:dataTable id="dataTableListaPerimetria"
															emptyMessage="Nenhum registro encontrado"
															value="#{fichaTreinoControlador.listarPerimetriaDaFicha()}"
															paginator="true" rows="5" var="p">

															<f:facet name="header">
																	Perimetria da Ficha															
																<p:commandButton id="toggler" type="button"
																	value="Colunas"
																	style="float:right;font-size: 12px; color:red "
																	icon="ui-icon-calculator" />
																<p:columnToggler datasource="dataTableListaPerimetria"
																	trigger="toggler" />
															</f:facet>

															<p:column style="width:80px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText value="Data" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.dataInicialPerimetria}">
																	<f:convertDateTime pattern="dd/MM/yyyy" />
																</h:outputText>
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Peso" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.peso}" />
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Altura" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.altura}" />
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Ombro" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.ombro}" />
															</p:column>

															<p:column style="width:80px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Abdomem" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.abdomem}" />
															</p:column>

															<p:column style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Cintura" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.cintura}" />
															</p:column>

															<p:column style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Tórax" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.torax}" />
															</p:column>

															<p:column style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Braço Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.bracoDir}" />
															</p:column>

															<p:column style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Braço Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.bracoEsq}" />
															</p:column>

															<p:column visible="false" style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px"
																			value="Ant.Braço Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.anteBracoDir}" />
															</p:column>

															<p:column visible="false" style="width:60px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px"
																			value="Ant.Braço Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.anteBracoEsq}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Coxa Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.coxaDir}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Coxa Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.coxaEsq}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Pant.Dir" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.panturilhaDir}" />
															</p:column>

															<p:column visible="false" style="width:50px">
																<f:facet name="header">
																	<div align="center">
																		<h:outputText style="font-size:14px" value="Pant.Esq" />
																	</div>
																</f:facet>
																<h:outputText value="#{p.panturilhaEsq}" />
															</p:column>

														</p:dataTable>
													</p:panel>
												</div>
											</h:column>
										</h:panelGrid>
									</p:tab>

									<p:tab id="tabContas" title="Financeiro">
										<div>
											<p:commandButton value="Listar Mensalidades Abertas"
												style="margin:5px 8px 5px 0px;background-image:none;background-color:lightgreen;"
												action="#{fichaTreinoControlador.listarContasAbertas()}"
												update="dataTableListaContasAbertas" />
										</div>

										<p:dataTable id="dataTableListaContasAbertas"
											emptyMessage="Nenhum registro encontrado"
											value="#{fichaTreinoControlador.listarContasAbertas()}"
											var="conta">

											<f:facet name="header">
												Mensalidades Abertas																														
											</f:facet>

											<p:column style="width:40px;">
												<f:facet name="header">
													<h:outputText value="ID" />
												</f:facet>
												<h:outputText value="#{conta.id}" />
											</p:column>

											<p:column style="width:80px;">
												<f:facet name="header">
													<h:outputText value="Data Cadastro" />
												</f:facet>
												<h:outputText value="#{conta.dataCadastroParcela}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</p:column>

											<p:column style="width:70px;">
												<f:facet name="header">
													<h:outputText value="Valor Mensalidade" />
												</f:facet>
												<h:outputText value="#{conta.valorTotal}" />
											</p:column>

											<p:column style="width:70px;">
												<f:facet name="header">
													<h:outputText value="Valor a Receber" />
												</f:facet>
												<h:outputText value="#{conta.valorReceber}" />
											</p:column>

											<p:column style="width:80px;">
												<f:facet name="header">
													<h:outputText value="Vencimento" />
												</f:facet>
												<h:outputText value="#{conta.vencimento}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</p:column>



										</p:dataTable>
									</p:tab>


								</p:tabView>









							</div>
						</fieldset>
					</div>
				</h:form>
			</ui:define>
		</ui:composition>

	</body>
</f:view>
</html>