<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="estilos.css" />

</h:head>
<f:view>
<body>
	
			<h:form>
				<div>
					<h:panelGrid columns="6" style="margin:10px 0px 0px 0px">
						<h:column>
							<div>
								<p:selectOneMenu id="menuListaAFichas"
									value="#{fichaTreinoControlador.opcaoSelectMenu}"
									style="margin:29px 0px 5px 0px;font-size:14px; width:120px">
									<f:selectItem itemLabel="Selecione a opção" itemValue="opcao" />
									<f:selectItem itemLabel="Nome" itemValue="Nome" />
									<f:selectItem itemLabel="Matricula" itemValue="Matricula" />
									<f:selectItem itemLabel="CPF" itemValue="CPF" />
								</p:selectOneMenu>
							</div>
						</h:column>
						
						<h:column>
								<div>
									<h:outputText style="display:block;margin:0px 0px 5px 0px"
										value="Status Consulta" />
									<p:selectOneMenu style="margin:0px 5px 0px 0px;font-size:14px; width:90px"
										tabindex="2"
										value="#{fichaTreinoControlador.fichaTreino.fichaEnum}">

										<f:selectItems
											value="#{fichaTreinoControlador.fichaTreinoEnum}" />
									</p:selectOneMenu>
								</div>
							</h:column>

							
						<h:column>
								<div>
									<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
										value=" Data inicial " for="inicio" />

									<p:calendar id="inicio" navigator="true" yearRange="1900:2050"
										locale="pt" pattern="dd/MM/yyyy" readonlyInput="true"
										tabindex="1" style="margin:0px 0px 0px 0px" size="8"
										value="#{fichaTreinoControlador.inicio}" />
								</div>
							</h:column>

							<h:column>
								<div>
									<h:outputLabel style="display:block;margin:0px 5px 5px 0px"
										value=" Data final " for="fim" />

									<p:calendar id="fim" navigator="true" yearRange="1900:2050"
										locale="pt" pattern="dd/MM/yyyy" readonlyInput="true"
										tabindex="2" style="margin:0px 0px 0px 0px" size="8"
										value="#{fichaTreinoControlador.fim}" />
								</div>
							</h:column>
						
							<h:column>
							<div>
								<h:outputText  value="" />
								<h:inputText style="margin:29px 0px 0px 0px" size="30"
									value="#{fichaTreinoControlador.textoPesquisa}" />
							</div>
						</h:column>
						

						<h:column>
							<div>
								<h:commandButton style="margin:29px 0px 0px 0px"
									action="#{fichaTreinoControlador.listaPorFiltros()}"
									value="Pesquisar" />
							</div>
						</h:column>

					</h:panelGrid>

					<fieldset>
						<legend>Fichas Cadastradas</legend>

						<p:dataTable  emptyMessage="Nenhum registro encontrado"
							value="#{fichaTreinoControlador.listaPorFiltros()}" var="ficha"
							paginator="true" rows="10" style="margin:10px 0px 0px 10px">
							
							<p:column style="width:30px;">
								<f:facet  name="header">
									<div align="center">
										<h:outputText style="font-size:14px" value="ID" />
									</div>
								</f:facet>
								<h:outputText style="font-size:14px" value="#{ficha.id}" />
							</p:column>

							<p:column style="width:40px;">
								<f:facet  name="header">
									<div align="center">
										<h:outputText style="font-size:14px" value="Matricula" />
									</div>
								</f:facet>
								<h:outputText style="font-size:14px" value="#{ficha.cliente.numMatricula}" />
							</p:column>

							<p:column style="width:200px;">
								<f:facet name="header">
									<h:outputText style="font-size:14px" value="Nome" />
								</f:facet>
								<h:outputText style="font-size:14px" value="#{ficha.cliente.nome}" />
							</p:column>
							
							<p:column style="width:60px;">
								<f:facet name="header">
									<h:outputText style="font-size:14px" value="CPF" />
								</f:facet>
								<div align="right">
									<h:outputText style="font-size:14px" value="#{ficha.cliente.cpf}" />
								</div>
							</p:column>

							<p:column style="width:40px;">
								<f:facet name="header">
									<div align="center">
										<h:outputText style="font-size:14px" value="Telefone" />
									</div>
								</f:facet>
								<h:outputText style="font-size:14px" value="#{ficha.telefone1}" />
							</p:column>
							
							<p:column style="width:40px; text-align:center">
						<f:facet name="header">
							<div align="center">
								<h:outputText style="font-size:14px" value="Selecionar" />
							</div>
						</f:facet>
						<p:commandButton icon="ui-icon-check" title="Selecionar"
						action="#{fichaTreinoControlador.selecionarFicha(ficha)}"
						process="@this"/>					
					</p:column>
							

							



							


						</p:dataTable>

					</fieldset>
				</div>
			</h:form>
		
</body>
</f:view>
</html>
