<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Caixa</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="container">
						<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
							<h:column>
								<div>
									<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
										value=" Data inicial " for="inicio" />

									<p:calendar id="inicio" navigator="true"
										yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
										readonlyInput="true" tabindex="1"
										style="margin:0px 0px 0px 0px" size="10"
										value="#{caixaMovimentoControlador.inicio}" />

								</div>
							</h:column>

							<h:column>
								<div>
									<h:outputLabel style="display:block;margin:0px 5px 5px 0px"
										value=" Data final " for="fim" />

									<p:calendar id="fim" navigator="true"
										yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
										readonlyInput="true" tabindex="2"
										style="margin:0px 0px 0px 0px" size="10"
										value="#{caixaMovimentoControlador.fim}" />
								</div>
							</h:column>

							<h:column>
								<div>
									<p:commandButton value="Pesquisar"
										style="margin:25px 0px 0px 0px;font-size:16px"
										action="#{caixaMovimentoControlador.pesquisaMovimentacao(caixaMovimentoControlador.inicio,caixaMovimentoControlador.fim)}"
										update="listaCaixa">
										
									</p:commandButton>
								</div>
							</h:column>		
								
						</h:panelGrid>


						<fieldset>
							<legend>Caixa</legend>

							<div>

								<p:dataTable id="listaCaixa" emptyMessage="Nenhum registro encontrado"
									value="#{caixaMovimentoControlador.pesquisaMovimentacao(caixaMovimentoControlador.inicio,caixaMovimentoControlador.fim)}"
									var="ca">
									<p:column style="width:25px;font-size:14px">
										<f:facet name="header">
											<h:outputText value="ID" />
										</f:facet>
										<h:outputText value="#{ca.id}" />
									</p:column>

									<p:column style="width:25px;font-size:14px">
										<f:facet name="header">
											<h:outputText value="Conta" />
										</f:facet>
										<h:outputText value="#{ca.recebeIdConta}" />
									</p:column>

									<p:column style="width:30px;font-size:14px">
										<f:facet name="header">
											<h:outputText value="Data" />
										</f:facet>
										<h:outputText value="#{ca.dataTransacao}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column style="width:30px;font-size:14px">
										<f:facet name="header">
											<h:outputText value="Crédito" />
										</f:facet>
										<h:outputText value="#{ca.valorCredito}">
											<f:convertNumber currencyCode="BRL" type="currency" />
										</h:outputText> 
									</p:column>

									<p:column style="width:30px;font-size:14px">
										<f:facet name="header">
											<h:outputText value="Débito" />
										</f:facet>
										<h:outputText value="#{ca.valorDebito}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>

									<p:column style="width:100px;font-size:14px;text-align:center;">
										<f:facet name="header">
											<h:outputText value="Forma Pagamento" />
										</f:facet>
										<h:outputText style="text-align: right;" value="#{ca.formaPagamento.nome}" />
									</p:column>

								</p:dataTable>

							</div>

						</fieldset>

						<fieldset>
							<legend style="font-size: 14px">Insere Lançamentos</legend>
							<div>
								<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
									<h:column>
										<div>
											<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
												value="Valor" />

											<h:inputText size="10" tabindex="1"
												style="margin:0px 5px 0px 0px"
												value="#{caixaMovimentoControlador.caixaMovimento.valorLancamento}">
												
											</h:inputText>
										</div>
									</h:column>

									<h:column>
										<div>
											<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
												value="Forma de lançamento" />


											<p:selectOneMenu style="width:250px"
												value="#{caixaMovimentoControlador.formaPagamentoId}">
												<f:selectItem itemLabel="Selecione..." itemValue="" />
												<f:selectItems
													value="#{caixaMovimentoControlador.listarTodasFormasPagamento()}"
													var="f" itemLabel="#{f.nome}" itemValue="#{f.id}" />
											</p:selectOneMenu>
										</div>
									</h:column>

									<h:column>
										<div>
											<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
												value="Histórico" />

											<h:inputText size="55" tabindex="4"
												style="margin:0px 5px 0px 0px"
												value="#{caixaMovimentoControlador.caixaMovimento.obs}" />
										</div>
									</h:column>
								</h:panelGrid>
							</div>

							<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
								<h:column>
									<div>
										<h:commandButton style="width:70px"
											action="#{caixaMovimentoControlador.insereCredito()}"
											update="@form" value="Crédito" />
									</div>
								</h:column>
								<h:column>
									<div>
										<h:commandButton style="width:70px"
											action="#{caixaMovimentoControlador.insereDebito()}"
											value="Débito" />
									</div>
								</h:column>

							</h:panelGrid>
						</fieldset>
					</div>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>