<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de Contas a pagar</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="container">
						<fieldset>
							<legend>Contas a pagar</legend>

							<div class="formataInput">

								<div>
									<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data de cadastro: " for="dataCadastro" />

												<p:calendar id="dataCadastro" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" tabindex="1"
													style="margin:0px 0px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.dataCadastro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Situação" />
												<p:selectOneMenu style="width:130px"
													value="#{contaAPagarControlador.contaAPagar.situacaoContaPagar}">
													<f:selectItems
														value="#{contaAPagarControlador.situacaoContaAPagarEnums}" />
												</p:selectOneMenu>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Num. documento" />
												<h:inputText id="numMatricula" size="15" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.numDocumento}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data do vencimento: " for="dataVencimento" />

												<p:calendar id="dataVencimento" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" style="margin:0px 0px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.dataVencimento}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="6" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Valor" />
												<h:inputText size="10" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.valorTotal}">
													<p:ajax event="blur"
														listener="#{contaAPagarControlador.calculaValorPagarcomValorTotal}"
														process="@form" update="@form" />
												</h:inputText>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Desconto" />
												<h:inputText size="10" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.desconto}">
													<p:ajax event="blur"
														listener="#{contaAPagarControlador.calculaValorAPagarComDesconto}"
														process="@form" update="@form" />
												</h:inputText>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Juros" />
												<h:inputText size="10" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.juros}">
													<p:ajax event="blur"
														listener="#{contaAPagarControlador.calculaValorAPagarComJuros}"
														process="@form" update="@form" />
												</h:inputText>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Valor a pagar" />
												<h:inputText size="10" tabindex="1" readonly="true"
													style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.valorPagar}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Valor Pago" />
												<h:inputText size="10" style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.valorPago}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data pagamento " for="dataPagamento" />

												<p:calendar id="dataPagamento" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" style="margin:0px 0px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.dataPagamento}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Fornecedor" />
												<!-- 	<h:inputText size="15" style="margin:0px 5px 0px 0px"
												value="#{contaAPagarControlador.contaAPagar.fornecedor.nome}" /> -->

												<p:selectOneMenu style="width:400px"
													value="#{contaAPagarControlador.fornecedorId}">
													<f:selectItem itemLabel="Selecione um fornecedor"
														itemValue="" />
													<f:selectItems
														value="#{contaAPagarControlador.listarFornecedores()}"
														var="f" itemLabel="#{f.nome}" itemValue="#{f.id}" />
												</p:selectOneMenu>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Forma pagamento" />


												<p:selectOneMenu style="width:275px"
													value="#{contaAPagarControlador.formaPagamentoId}">
													<f:selectItem itemLabel="Selecione uma forma pagamento"
														itemValue="" />
													<f:selectItems
														value="#{contaAPagarControlador.listarTodasFormasPagamento()}"
														var="f" itemLabel="#{f.nome}" itemValue="#{f.id}" />
												</p:selectOneMenu>
											</div>
										</h:column>

									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Observação" />
												<h:inputText size="109" style="margin:0px 5px 0px 0px"
													value="#{contaAPagarControlador.contaAPagar.historico}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>
							</div>
							<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
								<h:column>
									<div>
										<p:commandButton value="Cadastrar" style="width:120px"
											
											action="#{contaAPagarControlador.salvar()}"></p:commandButton>
									</div>
								</h:column>

								<h:column>
									<div>
										<p:commandButton value="Pagar"
											 style="width:120px" update="@form"
											action="#{contaAPagarControlador.liquidaConta()}"></p:commandButton>
									</div>
								</h:column>
							</h:panelGrid>
						</fieldset>
					</div>
				</h:form>
			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
