<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de fornecedor</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="container">
						<fieldset>
							<legend>Contas a receber</legend>

							<div class="formataInput">

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data de cadastro: " for="dataCadastro" />

												<p:calendar id="dataCadastro" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" tabindex="1"
													style="margin:0px 0px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.dataCadastroParcela}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Situação" />
												<p:selectOneMenu style="width:130px"
													value="#{contaAReceberControlador.contaAReceber.situacaoConta}">
													<f:selectItems
														value="#{contaAReceberControlador.situacaoContaAReceberEnums}" />
												</p:selectOneMenu>
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data do vencimento " for="dataVencimento" />

												<p:calendar id="dataVencimento" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" style="margin:0px 0px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.vencimento}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="6" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Valor" />
												<h:inputText size="10" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.valorTotal}">
													<p:ajax event="blur"
														listener="#{contaAReceberControlador.calculaValorRecebercomValorTotal}"
														process="@form" update="@form" />
												</h:inputText>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Desconto" />
												<h:inputText size="10" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.desconto}">
													<p:ajax event="blur"
														listener="#{contaAReceberControlador.calculaValorAReceberComDesconto}"
														process="@form" update="@form" />
												</h:inputText>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Juros" />
												<h:inputText size="10" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.juros}">
													<p:ajax event="blur"
														listener="#{contaAReceberControlador.calculaValorAReceberComJuros}"
														process="@form" update="@form" />
												</h:inputText>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Valor a receber" />
												<h:inputText size="10" tabindex="1" readonly="true"
													style="margin:0px 5px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.valorReceber}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Valor Recebido" />
												<h:inputText size="10" style="margin:0px 5px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.valorRecebido}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data do Recebimento " for="dataPagamento" />

												<p:calendar id="dataPagamento" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" style="margin:0px 0px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.dataPagamentoParcela}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Aluno" />


												<p:selectOneMenu style="width:400px; margin:0px 8px 0px 0px"
													value="#{contaAReceberControlador.clienteId}">
													<f:selectItem itemLabel="Selecione um aluno" itemValue="" />
													<f:selectItems
														value="#{contaAReceberControlador.listarTodosClientes()}"
														var="a" itemLabel="#{a.nome}" itemValue="#{a.id}" />
												</p:selectOneMenu>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Forma pagamento" />


												<p:selectOneMenu style="width:275px"
													value="#{contaAReceberControlador.formaPagamentoId}">
													<f:selectItem itemLabel="Selecione uma forma pagamento"
														itemValue="" />
													<f:selectItems
														value="#{contaAReceberControlador.listarTodasFormasPagamento()}"
														var="f" itemLabel="#{f.nome}" itemValue="#{f.id}" />
												</p:selectOneMenu>
											</div>
										</h:column>



									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value="Observação" />
												<h:inputText size="109" style="margin:0px 5px 0px 0px"
													value="#{contaAReceberControlador.contaAReceber.obs}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>
							</div>
							<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
								<h:column>
									<div>
										<p:commandButton value="Cadastrar"
											style="margin:10px 8px 0px 0px"
											action="#{contaAReceberControlador.salvar()}"></p:commandButton>
									</div>
								</h:column>
								<p:commandButton value="Receber"
									style="margin:10px 8px 0px 0px"
									update="@form"
									action="#{contaAReceberControlador.liquidaConta()}"></p:commandButton>
								
							</h:panelGrid>	
						</fieldset>
					</div>
				</h:form>
			</ui:define>
		</ui:composition>

	</body>
</f:view>
</html>