<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastra exercicio</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
				<div id="telaCargo">
					<fieldset>
						<legend>Cadastro de Exercício</legend>
						<div>
							<h:panelGrid columns="2" style="margin:0px 0px 0px 21px">
								<h:column>
									<div>
										<h:outputText value="Grupo "
											style="display:block" />
										<p:selectOneMenu style="width:120px;font-size: 16px;margin:5px 5px 0px 0px;" value="#{exercicioControlador.grupoId}">
											<f:selectItems												
												value="#{exercicioControlador.listarTodosGrupos()}" var="g"
												itemLabel="#{g.nome}" itemValue="#{g.id}" />
										</p:selectOneMenu>
									</div>
								</h:column>

								<h:column>
									<div>
										<h:outputText value="Exercicio "
											style="display:block;margin:0px 0px 5px 0px" />
										<h:inputText size="30" tabindex="1"
											style="margin:0px 8px 10px 0px"
											value="#{exercicioControlador.exercicio.nome}" />
									</div>
								</h:column>
							</h:panelGrid>
						</div>
						
						<h:panelGrid style="margin:0px 0px 0px 21px" columns="3">
						<p:commandButton value="Salvar"
							style="margin:0px 5px 0px 0px;width:120px;background-image:none;background-color:lightgreen;border:none!important"
							action="#{exercicioControlador.salvar()}"></p:commandButton>
							
							<h:column>
									<div>
										<p:commandButton value="Pesquisar"
											style="margin:0px 5px 0px 0px;width:120px;background-image:none;background-color:PowderBlue;border:none!important"
											action="#{exercicioControlador.chamaTelaPesquisa()}"></p:commandButton>
									</div>
								</h:column>
								
								<h:column>
									<div>
										<p:commandButton value="Excluir"
											onclick="PF('exclusaoExercicio').show()"
											style="background-image:none;width:120px;background-color:salmon;border:none!important" />
										<p:confirmDialog
											message="Tem certeza que deseja excluir o Exercicio?"
											header="Excluir Exercicio" severity="alert"
											widgetVar="exclusaoExercicio">
											<p:commandButton value="SIM"
												style="background-image:none;background-color:salmon;border:none!important"
												action="#{exercicioControlador.excluir(exercicioControlador.exercicio)}"
												oncomplete="PF('exclusaoExercicio').hide()" />
											<p:commandButton
												style="background-image:none;background-color:lightGreen;border:none!important"
												value="NÃO" onclick="PF('exclusaoExercicio').hide();" />
										</p:confirmDialog>
									</div>
								</h:column>
							
						</h:panelGrid>
							
					</fieldset>
					</div>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
