<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>grupo de exercicio</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="telaCargo">
						<fieldset>
							<legend style="font-size: 20px">Cadastra grupo de
								Exercicio</legend>
							<h:panelGrid columns="2">
								<h:column>
									<div>
										<h:outputText value="Grupo exercicio   (Ex.:Peito,Ombros...) "
											style="display:block;margin:0px 5px 5px 22px" />
										<h:inputText size="32" tabindex="1"
											style="margin:0px 5px 5px 21px"
											value="#{grupoExercicioControlador.grupoExercicio.nome}" />
									</div>
								</h:column>
							</h:panelGrid>

							<h:panelGrid columns="3">
								<h:column>
									<div>
										<p:commandButton value="Salvar"
											style="margin:0px 5px 0px 21px;width:120px;background-image:none;background-color:lightgreen;border:none!important"
											action="#{grupoExercicioControlador.salvar()}"></p:commandButton>
									</div>
								</h:column>

								<h:column>
									<div>
										<p:commandButton value="Pesquisar"
											style="margin:0px 5px 0px 0px;width:120px;background-image:none;background-color:PowderBlue;border:none!important"
											action="#{grupoExercicioControlador.chamaTelaPesquisa()}"></p:commandButton>
									</div>
								</h:column>

								<h:column>
									<div>
										<p:commandButton value="Excluir"
											onclick="PF('exclusaoGrupo').show()"
											style="background-image:none;width:120px;background-color:salmon;border:none!important" />
										<p:confirmDialog
											message="Tem certeza que deseja excluir o Grupo?"
											header="Excluir Grupo" severity="alert"
											widgetVar="exclusaoGrupo">
											<p:commandButton value="SIM"
												style="background-image:none;background-color:salmon;border:none!important"
												action="#{grupoExercicioControlador.excluir(grupoExercicioControlador.grupoExercicio)}"
												oncomplete="PF('exclusaoGrupo').hide()" />
											<p:commandButton
												style="background-image:none;background-color:lightGreen;border:none!important"
												value="NÃO" onclick="PF('exclusaoGrupo').hide();" />
										</p:confirmDialog>
									</div>
								</h:column>

							</h:panelGrid>
						</fieldset>
					</div>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
