<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Exercicios diários</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="imprimeExerciciosDiarios">
						<fieldset>
							<legend style="font-size: 20px">Exercicios Diário</legend>
							<h:panelGrid columns="4">
								<h:column>
								<div>
								<h:outputText value="Imprime Série"
											style="display:block;margin:0px 5px 0px 21px" />
								<p:selectOneMenu id="menuListaExercicios" 
									value="#{fichaTreinoControlador.opcaoSelectMenu}"
									style="margin:0px 5px 0px 21px; width:160px;font-size: 16px">
									
									<f:selectItem itemLabel="Sequência" itemValue="Sequencia" />
									<f:selectItem itemLabel="Dia da semana" itemValue="Dia" />								
								</p:selectOneMenu>
							</div>
								</h:column>
								<h:column>
									<div>
										<h:outputText value="CPF "
											style="display:block;margin:0px 5px 0px 0px" />
										<h:inputText size="20" tabindex="1"
											style="margin:0px 5px 10px 0px"
											value="#{fichaTreinoControlador.txtImprimeSerie}" />
									</div>
								</h:column>

								<h:column>
								
									<p:commandButton value="Pesquisar"
										style="margin:0px 5px 0px 0px;background-image:none;background-color:PowderBlue;border:none!important"
										action="#{fichaTreinoControlador.listaExercicioDiario()}"
										update="dataExerciciosDiarios"
										></p:commandButton>
									
								</h:column>
								
								<h:column>
									<p:commandButton value="Imprimir"
										style="margin:0px 5px 0px 0px;background-image:none;background-color:orange;border:none!important"
										action="#{fichaTreinoControlador.imprimeExerciciosDiarios()}"
										></p:commandButton>
								</h:column>
							</h:panelGrid>

							<h:panelGrid columns="2" style="margin:0px 5px 0px 21px" >
								<h:column>
									<div>
										<p:dataTable id="dataExerciciosDiarios"
											emptyMessage="Nenhum registro encontrado"
											value="#{fichaTreinoControlador.listaExercicioDiario()}"
											paginator="true" rows="10" var="exer">

											<f:facet name="header">
														       Exercícios diário
												        </f:facet>

											<p:column>
												<f:facet name="header">
													<div align="center">
														<h:outputText style="font-size:14px" value="Treino" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.tipoTreino.nome}" />
											</p:column>

											<p:column width="100">
												<f:facet name="header">
													<div align="center">
														<h:outputText style="font-size:14px" value="Posicao" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.posicao}" />
											</p:column>

											<p:column width="300">
												<f:facet name="header">
													<div align="center">
														<h:outputText style="font-size:14px" value="Exercicio" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.exercicio.nome}" />
											</p:column>

											<p:column>
												<f:facet name="header">
													<div align="center">
														<h:outputText style="font-size:14px" value="Série" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.serie}" />
											</p:column>

											<p:column width="100">
												<f:facet name="header">
													<div align="center">
														<h:outputText style="font-size:14px" value="Repetições" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.repeticoes}" />
											</p:column>

											<p:column>
												<f:facet name="header">
													<div align="center">
														<h:outputText style="font-size:14px" value="Carga" />
													</div>
												</f:facet>
												<h:outputText value="#{exer.carga}" />
											</p:column>





										</p:dataTable>
									</div>
								</h:column>
							</h:panelGrid>

						</fieldset>
					</div>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
