<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<h:form>
			<div>
				<p:menubar widgetVar="menu" autoSubmenuDisplay="true" effect="FADE">
					<p:submenu label="Cadastros">
						<p:submenu label="Aluno">
							<p:menuitem value="Cadastro Aluno"
								action="/paginas/aluno/CadastroAluno.xhtml" ajax="false" />

						</p:submenu>

						<p:submenu label="Academia">
							<p:menuitem value="Cadastro academia"
								action="/paginas/academia/cadastroAcademia.xhtml" ajax="false" />
						</p:submenu>
						
						<p:submenu label="Cargo">
							<p:menuitem value="Cadastra cargo"
								action="/paginas/cargo/CadastraCargo.xhtml" ajax="false" />

						</p:submenu>

						<p:submenu label="Exercicio">
							<p:menuitem value="Cadastro Grupo de Exercicio"
								action="/paginas/exercicio/grupoExercicio.xhtml" ajax="false" />
							<p:menuitem value="Cadastro de Exercicio"
								action="/paginas/exercicio/cadastraExercicio.xhtml" ajax="false" />
						</p:submenu>
						
						<p:submenu label="Ficha Aluno">
							<p:menuitem value="Cadastra Ficha Aluno"
								action="/paginas/treino/fichaAluno.xhtml"
								ajax="false" />
						</p:submenu>

						<p:submenu label="Fornecedor">
							<p:menuitem value="Cadastro Fornecedor"
								action="/paginas/fornecedor/cadastrarFornecedor.xhtml"
								ajax="false" />
						</p:submenu>

						<p:submenu label="Forma Pagamento">
							<p:menuitem value="Forma de pagamento"
								action="/paginas/formaPagamento/formaPagamento.xhtml"
								ajax="false" />
						</p:submenu>
						
						<p:submenu label="Funcionário">
							<p:menuitem value="Cadastra Funcionário"
								action="/paginas/funcionario/cadastraFuncionario.xhtml"
								ajax="false" />
						</p:submenu>
						
						<p:submenu label="Treino">
							<p:menuitem value="Cadastra nome do treino"
								action="/paginas/treino/cadastraTreino.xhtml"
								ajax="false" />
						</p:submenu>
						
						<p:submenu label="Perimetria">
							<p:menuitem value="Cadastra Perimetria"
								action="/paginas/perimetria/perimetria.xhtml"
								ajax="false" />
						</p:submenu>
					</p:submenu>

					<p:submenu label="Financeiro">						
							<p:menuitem value="Caixa"
								action="/paginas/financeiro/caixaMovimento.xhtml" ajax="false" />
								
							
								<p:menuitem value="Contas a pagar"
									action="/paginas/financeiro/contasAPagar.xhtml" ajax="false" />

								<p:menuitem value="Contas a receber"
									action="/paginas/financeiro/contaAReceber.xhtml" ajax="false" />
							
					</p:submenu>
					
					<p:submenu label="Imprime Série">
						<p:menuitem value="Imprime exercicios"
							action="/paginas/exercicio/imprimeExerciciosDiarios.xhtml" ajax="false" />
					</p:submenu>
				</p:menubar>
			</div>
		</h:form>
	</body>
</f:view>
</html>
