<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<h:outputStylesheet library="css" name="estilos.css"/>  
</h:head>
	

<body>
	
	<div>
		<ui:insert name="cabecalho">
			<!-- Import de página do cabeçalho -->
			<ui:include src="/paginas/template/cabecalho.xhtml" />
		</ui:insert>
	</div>
	
	 <div >
		<ui:insert name="conteudo">
			
		</ui:insert>
			
		
	</div>
</body>
</html>
