<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de Academia</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="container">
						<fieldset>
							<legend>Cadastro de Academia</legend>

							<div class="formataInput">
								<div>
									<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText value="Academia: "
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText size="50" tabindex="1"
													style="margin:0px 8px 0px 0px"
													value="#{academiaControlador.academia.nome}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText value=" CNPJ/CPF:"
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText style="text-align:right" size="15" tabindex="2"
													value="#{academiaControlador.academia.cpfCnpj}" />
											</div>
										</h:column>
									</h:panelGrid>

									<div>
										<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
											<h:column>
												<div>
													<h:outputText value="Endereco: "
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText size="50" tabindex="3"
														style="margin:0px 8px 0px 0px"
														value="#{academiaControlador.academia.endereco}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText value=" Complemento:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText size="50" tabindex="4"
														value="#{academiaControlador.academia.complemento}" />
												</div>
											</h:column>
										</h:panelGrid>
									</div>

									<h:column>
										<div></div>
									</h:column>

									<div>
										<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
											<h:column>
												<div>
													<h:outputText value="Bairro:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText size="30" tabindex="5"
														style="margin:0px 5px 0px 0px"
														value="#{academiaControlador.academia.bairro}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText value=" Cidade:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText style="margin:0px 8px 10px 0px" size="36"
														tabindex="6"
														value="#{academiaControlador.academia.municipio}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText value=" UF:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText style="margin:0px 8px 10px 0px" size="1"
														tabindex="7" value="#{academiaControlador.academia.uf}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText value=" CEP:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText style="margin:0px 8px 10px 0px" size="18"
														tabindex="8" value="#{academiaControlador.academia.cep}" />
												</div>
											</h:column>
										</h:panelGrid>
									</div>


									<div>
										<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">

											<h:column>
												<div>
													<h:outputText value=" Telefone:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText style="margin:0px 8px 10px 0px" size="15"
														tabindex="9"
														value="#{academiaControlador.academia.telefone1}" />
												</div>
											</h:column>



											<h:column>
												<div>
													<h:outputText value=" Telefone Cel.:"
														style="display:block;margin:0px 0px 5px 0px" />
													<h:inputText style="margin:0px 8px 10px 0px" size="20"
														tabindex="10"
														value="#{academiaControlador.academia.telefone2}" />
												</div>
											</h:column>

											<h:column>
												<div>
													<h:outputText value=" E-mail:"
														style="display:block;margin:0px 0px 5px 0px;" />
													<h:inputText size="58" tabindex="11"
														style="margin:0px 8px 10px 0px"
														value="#{academiaControlador.academia.email}" />
												</div>
											</h:column>

										</h:panelGrid>
									</div>
								</div>

								<p:commandButton value="Salvar"
									style="margin:5px 5px 0px 21px;width:120px!important; background-image:none;background-color:lightgreen;border:none!important"
									action="#{academiaControlador.salvar()}"></p:commandButton>


								<p:commandButton value="Imprimir"
									style="margin:5px 0px 0px 0px;width:120px!important; background-image:none;background-color:orange;border:none!important"
									action="#{academiaControlador.salvar()}"></p:commandButton>
								
							</div>
						</fieldset>
					</div>
				</h:form>
			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
