<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de Aluno</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>

	<body>
		<p:messages  closable="true"/>	
		<ui:composition template="/paginas/template/template.xhtml">
		
			<ui:define name="conteudo">
				
				
				<h:form id="formAluno">
					<div id="telaAluno">
						
						<fieldset>
							<legend>Cadastro de Aluno</legend>


							<div class="formataInput">

								<div>
									<h:panelGrid columns="5" style="margin:0px 0px 0px 22px">
									
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="ID" />
												<h:inputText id="id" size="8" tabindex="1"
													style="margin:0px 5px 0px 0px"
													readonly="true"
													value="#{clienteControlador.cliente.id}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Status" />
												<p:selectOneMenu style="margin:0px 5px 0px 0px;width:100px"
													value="#{clienteControlador.cliente.statusClienteEnum}">
													<f:selectItems
														value="#{clienteControlador.statusClienteEnum}" />
												</p:selectOneMenu>
											</div>
										</h:column>

										<h:column>
											<div>											
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Matricula:" />
												<h:inputText id="numMatricula" size="12" tabindex="1"
													style="margin:0px 5px 0px 0px"					
													value="#{clienteControlador.cliente.numMatricula}"/>
													
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data de cadastro: " for="dataCadastro" />
												<p:calendar id="dataCadastro" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" tabindex="2"
													style="margin:0px 5px 0px 0px;"
													size="13"
													value="#{clienteControlador.cliente.dataCadastro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Genero" />
												<p:selectOneMenu style="width:115px"
													value="#{clienteControlador.cliente.genero}">
													<f:selectItems value="#{clienteControlador.generoEnums}" />
												</p:selectOneMenu>
											</div>
										</h:column>

									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Nome: " />
												<h:inputText id="nome" size="50" tabindex="3"
													style="margin:0px 5px 0px 0px"
													value="#{clienteControlador.cliente.nome}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value=" CPF:" />
												<h:inputText id="cpf"													
													style="text-align:right;margin:0px 5px 0px 0px" size="15"
													tabindex="4" value="#{clienteControlador.cliente.cpf}"
													/>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value=" Rg:" />
												<h:inputText id="rg"
													style="text-align:right;margin:0px 5px 0px 0px" size="16"
													tabindex="5" value="#{clienteControlador.cliente.rg}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>


								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Aniversario: " for="aniversario" />
												<p:calendar id="aniversario" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" tabindex="6"
													style="margin:0px 5px 0px 2px"
													value="#{clienteControlador.cliente.aniversario}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Profissão: " />
												<h:inputText id="profissao" tabindex="7"
													style="margin:0px 5px 0px 0px" size="41"
													value="#{clienteControlador.cliente.profissao}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Telefone: " />
												<h:inputText id="telefone1" tabindex="7"
													style="margin:0px 5px 0px 0px" size="18"
													value="#{clienteControlador.cliente.telefone1}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Logradouro: " />
												<h:inputText id="logradouro" size="45" tabindex="5"
													style="margin:0px 5px 0px 0px"
													value="#{clienteControlador.clienteEndereco.endereco.logradouro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Numero: " />
												<h:inputText id="numero"
													style="text-align:right;margin:0px 5px 0px 0px" size="5"
													value="#{clienteControlador.clienteEndereco.numero}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Complemento: " />
												<h:inputText id="complemento" tabindex="7" size="31"
													style="margin:0px 5px 0px 0px"
													value="#{clienteControlador.clienteEndereco.complemento}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Bairro: " />
												<h:inputText id="bairro" size="30" tabindex="8"
													style="margin:0px 5px 0px 0px"
													value="#{clienteControlador.clienteEndereco.endereco.bairro}" />
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="CEP: " />
												<h:inputText id="cep"
													style="text-align:right;margin:0px 5px 0px 0px" size="13"
													tabindex="9"
													value="#{clienteControlador.clienteEndereco.endereco.cep}" />
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Municipio: " />
												<h:inputText id="municipio" size="30" tabindex="10"
													style="margin:0px 5px 0px 0px"
													value="#{clienteControlador.clienteEndereco.endereco.municipio}" />
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="UF:" />
												<h:inputText id="uf" size="1" tabindex="11"
													style="margin:0px 5px 0px 0px"
													value="#{clienteControlador.clienteEndereco.endereco.uf}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>
							</div>

							<div>
							<p:commandButton value="Salvar"
								style="margin:10px 8px 0px 27px;width:120px;background-image:none;background-color:lightgreen;border:none!important"
								action="#{clienteControlador.salvarAluno()}"  ajax="false" />
								
							<p:commandButton value="Pesquisar"								
								style="margin:10px 8px 0px 0px;width:120px;background-image:none;background-color:PowderBlue;border:none!important"
								action="#{clienteControlador.chamaTelaPesquisaAluno()}" ajax="false"/>

							

					 	<p:commandButton value="Excluir" onclick="PF('confirmaExclusao').show()"
					 	style="background-image:none;width:120px;background-color:salmon;border:none!important"/>
							<p:confirmDialog
								message="Tem certeza que deseja excluir o Aluno?"
								header="Excluir Aluno" severity="alert"
								widgetVar="confirmaExclusao">
								<p:commandButton value="SIM"
									style="background-image:none;background-color:salmon;border:none!important"
									action="#{clienteControlador.excluir(clienteControlador.cliente)}" 
									oncomplete="PF('confirmaExclusao').hide()" />
								<p:commandButton value="NÃO" onclick="PF('confirmaExclusao').hide();"
									style="background-image:none;background-color:lightGreen;border:none!important"	 />
							</p:confirmDialog> 
						</div>	
							
						</fieldset>


					</div>
				</h:form>
			</ui:define>
		</ui:composition>
	</body>

</f:view>
</html>
