<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:view>

	<p:messages closable="true"/>
	<ui:composition template="/paginas/template/template.xhtml">
	
	
		<ui:define name="conteudo">
			
			
			<h:form>
				<div>
					<h:panelGrid columns="4" style="margin:25px 0px 0px 0px">
						<h:column>
							<div>
								<p:selectOneMenu id="menuListaAlunos"
									value="#{clienteControlador.opcaoSelectMenu}"
									style="margin:0px 0px 5px 0px; width:160px;font-size: 16px">
									<f:selectItem itemLabel="Selecione a opção" itemValue="opcaoSelectMenu" />
									<f:selectItem itemLabel="Nome" itemValue="Nome" />
									<f:selectItem itemLabel="Matricula" itemValue="Matricula" />
									<f:selectItem itemLabel="CPF" itemValue="CPF" />
								</p:selectOneMenu>
							</div>
						</h:column>

						<h:column>
							<div>
								<h:outputText value="" />
								<h:inputText style="margin:0px 0px 0px 0px"
									
									value="#{clienteControlador.textoPesquisa}"
									/>
							</div>
						</h:column>

						<h:column>
							<div>
								<p:commandButton
									actionListener="#{clienteControlador.pesquisarAlunos()}" ajax="false"
									style="margin:0px 5px 0px 0px;background-image:none;background-color:PowderBlue;border:none!important"
									update="dataListarAlunos"
									value="Pesquisar" />
							</div>
						</h:column>
						
						<h:column>
									<p:commandButton value="Imprimir"
										style="margin:0px 5px 0px 0px;background-image:none;background-color:orange;border:none!important"
										
										></p:commandButton>
						</h:column>
						

					</h:panelGrid>



					<p:dataTable id="dataListarAlunos" emptyMessage="Nenhum registro encontrado"
						value="#{clienteControlador.pesquisarAlunos()}" var="aluno"
						paginator="true" rows="20" style="margin:10px 0px 0px 10px">

						<f:facet name="header">
						  Alunos Cadastrados
		 		        </f:facet>


						<p:column style="width:40px;">
							<f:facet name="header">
								<div align="center">
									<h:outputText  style="font-size:14px" value="Matricula" />
								</div>
							</f:facet>
							<h:outputText value="#{aluno.numMatricula}" />
						</p:column>

						<p:column style="width:180px;">
							<f:facet name="header">
								<h:outputText  style="font-size:14px" value="Nome" />
							</f:facet>
							<h:outputText value="#{aluno.nome}" />
						</p:column>

						<p:column style="width:35px;">
							<f:facet name="header">
								<div align="center">
									<h:outputText  style="font-size:14px" value="Telefone" />
								</div>
							</f:facet>
							<h:outputText value="#{aluno.telefone1}" />
						</p:column>

						<p:column style="width:45px;">
							<f:facet name="header">
								<h:outputText  style="font-size:14px" value="CPF" />
							</f:facet>
							<div align="right">
								<h:outputText value="#{aluno.cpf}" />
							</div>
						</p:column>



						<p:column style="width:30px;">
							<f:facet name="header">
								<h:outputText  style="font-size:14px" value="Ações" />
							</f:facet>
							<h:commandLink
								action="#{clienteControlador.alterarCliente(aluno)}"
								value="Alterar" />
						</p:column>



					</p:dataTable>


				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>


</html>
