<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Forma de pagamento</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<fieldset>
						<legend>Cadastra forma de pagamento</legend>
						<div>
							<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
								<h:column>
									<div>
										<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
											value="Entra no caixa" />
										<p:selectOneMenu  style="width:80px; margin:0px 8px 0px 0px"
											value="#{formaPagamentoControlador.formaPagamento.entraNoCaixa}">
											<f:selectItems												
												value="#{formaPagamentoControlador.entraNoCaixaEnums}" />
										</p:selectOneMenu>
									</div>
								</h:column>

								<h:column>
									<div>
										<h:outputText value="Forma de pagamento "
											style="display:block;margin:0px 0px 5px 0px" />
										<h:inputText size="30" tabindex="1"
											style="margin:0px 8px 10px 0px"
											value="#{formaPagamentoControlador.formaPagamento.nome}" />
									</div>
								</h:column>
							</h:panelGrid>

						</div>
						
						<p:commandButton value="Salvar" style="margin:10px 5px 0px 21px;width:120px;background-image:none;background-color:lightgreen;border:none!important" 
							action="#{formaPagamentoControlador.salvar()}"></p:commandButton>
							
							<p:commandButton value="Pesquisar" style="margin:10px 5px 0px 5px;width:120px;background-image:none;background-color:PowderBlue;border:none!important" 
							action="#{formaPagamentoControlador.chamaTelaPesquisa()}"></p:commandButton>
							
							<p:commandButton value="Excluir" onclick="PF('exclusaoFormaPagamento').show()"
					 		style="background-image:none;width:120px;background-color:salmon;border:none!important"/>
							<p:confirmDialog
								message="Tem certeza que deseja excluir a Forma de Pagamento?"
								header="Excluir Forma Pagamento"								 
								severity="alert"
								widgetVar="exclusaoFormaPagamento">
								<p:commandButton value="SIM"
									style="background-image:none;background-color:salmon;border:none!important"
									action="#{formaPagamentoControlador.excluir(formaPagamentoControlador.formaPagamento)}" 
									oncomplete="PF('exclusaoFormaPagamento').hide()" />
								<p:commandButton
								style="background-image:none;background-color:lightGreen;border:none!important"
								 value="NÃO" onclick="PF('exclusaoFormaPagamento').hide();"/>
							</p:confirmDialog>
						
					</fieldset>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>