<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="estilos.css" />

</h:head>
<body>
	<ui:composition template="/paginas/template/template.xhtml">
		<ui:define name="conteudo">
			<h:form>
				<div>
					<h:panelGrid columns="3" style="margin:25px 0px 0px 0px">

						<h:column>
							<div>

								<h:inputText style="margin:0px 0px 0px 0px" size="40"
									value="#{formaPagamentoControlador.textoPesquisaFormaPagamento}" />
							</div>
						</h:column>

						<h:column>
							<div>
								<p:commandButton action="#{formaPagamentoControlador.listarFormasPagamento()}"
									style="margin:0px 5px 0px 0px;background-image:none;background-color:PowderBlue;border:none!important"
									value="Pesquisar"
									update="dataListaFormaPagamento" />
							</div>
						</h:column>

						<h:column>
							<div>
								<p:commandButton value="Imprimir"
									style="margin:0px 5px 0px 0px;background-image:none;background-color:orange;border:none!important" />
							</div>
						</h:column>


					</h:panelGrid>



					<p:dataTable id="dataListaFormaPagamento" emptyMessage="Nenhum registro encontrado"
						value="#{formaPagamentoControlador.listarFormasPagamento()}" var="f"
						paginator="true" rows="10" style="margin:10px 0px 0px 0px">

						<f:facet name="header">
						  Formas de Pagamento Cadastradas
		 		        </f:facet>
		 		        
						<p:column style="width:10px;">
							<f:facet name="header">
								<div align="center">
									<h:outputText style="font-size:14px" value="ID" />
								</div>
							</f:facet>
							<h:outputText value="#{f.id}" />
						</p:column>

						<p:column style="width:50px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="Nome" />
							</f:facet>
							<h:outputText value="#{f.nome}" />
						</p:column>
						
						<p:column style="width:30px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="Nome" />
							</f:facet>
							<h:outputText value="#{f.entraNoCaixa}" />
						</p:column>


						<p:column style="width:20px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="Ações" />
							</f:facet>
							<h:commandLink action="#{formaPagamentoControlador.alterarFormaPagamento(f)}"
								value="Alterar" />
						</p:column>
					</p:dataTable>

				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
