<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de funcionario</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>

	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form id="formFuncionario">
					<div id="container">
						<fieldset>
							<legend>Cadastro de Funcionário</legend>


							<div class="formataInput">

								<div>
									<h:panelGrid columns="5" style="margin:0px 0px 0px 22px">

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="ID" />
												<h:inputText style="margin:0px 5px 0px 0px" size="7"
													readonly="true" tabindex="1"
													value="#{funcionarioControlador.funcionario.id}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Status" />
												<p:selectOneMenu style="margin:0px 5px 0px 0px;width:87px"
													tabindex="2"
													value="#{funcionarioControlador.funcionario.statusFuncionarioEnum}">
													<f:selectItems
														value="#{funcionarioControlador.statusFuncionarioEnum}" />
												</p:selectOneMenu>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Matricula" />
												<h:inputText id="numMatricula" size="15" tabindex="3"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionario.numMatricula}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data de cadastro: " for="dataCadastro" />
												<p:calendar id="dataCadastro" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" 
													tabindex="4"
													style="margin:0px 5px 0px 0px;" size="13"
													value="#{funcionarioControlador.funcionario.dataCadastro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Genero" />
												<p:selectOneMenu style="width:110px" tabindex="5"
													value="#{clienteControlador.cliente.genero}">
													<f:selectItems
														value="#{funcionarioControlador.generoEnums}" />
												</p:selectOneMenu>
											</div>
										</h:column>

									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Nome " />
												<h:inputText id="nome" size="50" tabindex="6"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionario.nome}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value=" CPF" />
												<h:inputText id="cpf"
													style="text-align:right;margin:0px 5px 0px 0px" size="15"
													tabindex="7"
													value="#{funcionarioControlador.funcionario.cpf}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value=" Rg:" />
												<h:inputText id="rg"
													style="text-align:right;margin:0px 5px 0px 0px" size="15"
													tabindex="8"
													value="#{funcionarioControlador.funcionario.rg}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>


								<div>
									<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Aniversário " for="aniversario" />
												<p:calendar id="aniversario" navigator="true"
													yearRange="1900:2050" locale="pt" pattern="dd/MM/yyyy"
													readonlyInput="true" tabindex="9"
													style="margin:0px 5px 0px 2px"
													size="16"
													value="#{funcionarioControlador.funcionario.aniversario}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Cargo" />
												<p:selectOneMenu style="margin:0px 5px 0px 0px;width:167px" tabindex="10" value="#{funcionarioControlador.cargoId}">													
													<f:selectItems
														value="#{funcionarioControlador.listarTodosCargos()}"
														var="c" itemLabel="#{c.nome}" itemValue="#{c.id}" />
												</p:selectOneMenu>
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Telefone 1 " />
												<h:inputText id="telefone1" tabindex="11"
													style="margin:0px 5px 0px 0px" size="15"
													value="#{funcionarioControlador.funcionario.telefone1}" />
											</div>
										</h:column>
										
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Telefone 2 " />
												<h:inputText id="telefone2" tabindex="12"
													style="margin:0px 5px 0px 0px" size="15"
													value="#{funcionarioControlador.funcionario.telefone2}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Logradouro: " />
												<h:inputText id="logradouro" size="45" tabindex="13"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionarioEndereco.endereco.logradouro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Numero " />
												<h:inputText id="numero"
													style="text-align:right;margin:0px 5px 0px 0px" size="5"
													tabindex="14"
													value="#{funcionarioControlador.funcionarioEndereco.numero}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Complemento " />
												<h:inputText id="complemento" tabindex="15" size="30"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionarioEndereco.complemento}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Bairro: " />
												<h:inputText id="bairro" size="30" tabindex="16"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionarioEndereco.endereco.bairro}" />
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="CEP: " />
												<h:inputText id="cep"
													style="text-align:right;margin:0px 5px 0px 0px" size="12"
													tabindex="17"
													value="#{funcionarioControlador.funcionarioEndereco.endereco.cep}" />
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Municipio: " />
												<h:inputText id="municipio" size="30" tabindex="18"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionarioEndereco.endereco.municipio}" />
											</div>
										</h:column>



										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="UF:" />
												<h:inputText id="uf" size="1" tabindex="19"
													style="margin:0px 5px 0px 0px"
													value="#{funcionarioControlador.funcionarioEndereco.endereco.uf}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>
							</div>


							<p:commandButton value="Cadastrar"
								style="margin:10px 8px 0px 27px"
								action="#{funcionarioControlador.salvarFuncionario()}"></p:commandButton>
							

						</fieldset>


					</div>
				</h:form>
			</ui:define>
		</ui:composition>
	</body>

</f:view>
</html>
