<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="#{localeBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

	<f:view>
		<h:body>
			<h:form>
				<h2>Menu</h2>
				<!-- <p:outputLabel value="ID..: "/>#{clienteControlador.cliente.id}<br/>
				<p:outputLabel value="CPF.: "/>#{clienteControlador.cliente.cpf}<br/>
				<p:outputLabel value="NOME: "/>#{clienteControlador.cliente.nome}<br/>
				<p:outputLabel value="LOGRADOURO "/>#{clienteControlador.clienteEndereco.endereco.logradouro}<br/> -->
				<h:commandLink action="cadastrarAluno" value="Cadastrar Aluno" /> <br/>
				<h:commandLink action="telaPesquisa" value="Listar Aluno" />
			</h:form>
		</h:body>
	</f:view>
	
</html>
