<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastra Perimetria</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
				<div id="container">
					<fieldset>
						<legend>Perimetria</legend>
						<div>
							<h:panelGrid columns="1" style="margin:0px 0px 0px 21px">
								
								<h:column>
									<div>
										<h:outputText value="Nome "
											style="display:block;margin:0px 0px 5px 0px" />
										<h:inputText size="30" tabindex="1"
											style="margin:0px 8px 10px 0px"
											value="#{perimetriaControlador.perimetria.nome}" />
									</div>
								</h:column>
							</h:panelGrid>
						</div>
						<p:commandButton value="Cadastrar"
							style="margin:10px 8px 0px 21px"
							action="#{perimetriaControlador.salvar()}"></p:commandButton>
					</fieldset>
					</div>
				</h:form>

			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
