<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de fornecedor</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>

<f:view>
	<body>
		<ui:composition template="/paginas/template/template.xhtml">
			<ui:define name="conteudo">
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.min.js"></script>

				<h:form>
					<div id="telaFornecedor">
						<fieldset>
							<legend>Cadastro de fornecedor</legend>
							<div class="formataInput">
								<div>
									<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="ID " />
												<h:inputText size="7" tabindex="1"
													style="margin:0px 5px 0px 0px" readonly="true"
													value="#{fornecedorControlador.fornecedor.id}" />
											</div>
										</h:column>


										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Razão Social " />
												<h:inputText size="40" tabindex="1"
													style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedor.nome}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value=" CNPJ/CPF" />
												<h:inputText style="text-align:right;margin:0px 5px 0px 0px"
													size="20" tabindex="2"
													value="#{fornecedorControlador.fornecedor.cnpjCpf}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value=" IE/RG" />
												<h:inputText style="text-align:right;margin:0px 5px 0px 0px"
													size="15" tabindex="3"
													value="#{fornecedorControlador.fornecedor.ie}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Fanstasia " />
												<h:inputText size="75" tabindex="4"
													style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedor.fantasia}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputLabel style="display:block;margin:0px 0px 5px 0px"
													value=" Data de cadastro " for="dataCadastro" />
												<p:calendar navigator="true" yearRange="1900:2050"
													locale="pt" pattern="dd/MM/yyyy" readonlyInput="true"
													tabindex="5" style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedor.dataCadastro}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Logradouro " />
												<h:inputText size="50" tabindex="6"
													style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedorEndereco.endereco.logradouro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText value="Numero "
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText style="text-align:right;margin:0px 5px 0px 0px"
													size="5" tabindex="7"
													value="#{fornecedorControlador.fornecedorEndereco.numero}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText value="Complemento "
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText style="margin:0px 5px 0px 0px" tabindex="8"
													size="35"
													value="#{fornecedorControlador.fornecedorEndereco.complemento}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="4" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Bairro " />
												<h:inputText size="35" tabindex="9"
													style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedorEndereco.endereco.bairro}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText value="CEP "
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText style="text-align:right;margin:0px 5px 0px 0px"
													size="13" tabindex="10"
													value="#{fornecedorControlador.fornecedorEndereco.endereco.cep}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText value="Municipio "
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText style="margin:0px 5px 0px 0px" size="34"
													tabindex="11"
													value="#{fornecedorControlador.fornecedorEndereco.endereco.municipio}" />

											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText value="UF"
													style="display:block;margin:0px 0px 5px 0px" />
												<h:inputText style="margin:0px 5px 0px 0px" size="1"
													tabindex="12"
													value="#{fornecedorControlador.fornecedorEndereco.endereco.uf}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="3" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Telefone 1 " />
												<h:inputText size="15" tabindex="15"
													style="margin:0px 6px 0px 0px"
													value="#{fornecedorControlador.fornecedor.telefone}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Telefone 2 " />
												<h:inputText size="15" tabindex="14"
													style="margin:0px 6px 0px 0px"
													value="#{fornecedorControlador.fornecedor.fax}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="e-mail " />
												<h:inputText size="60" tabindex="16"
													style="margin:0px 6px 0px 0px"
													value="#{fornecedorControlador.fornecedor.email}" />
											</div>
										</h:column>
									</h:panelGrid>
								</div>

								<div>
									<h:panelGrid columns="2" style="margin:0px 0px 0px 22px">
										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="Contato " />
												<h:inputText size="35" tabindex="17"
													style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedor.contato}" />
											</div>
										</h:column>

										<h:column>
											<div>
												<h:outputText style="display:block;margin:0px 0px 5px 0px"
													value="site " />
												<h:inputText size="63" tabindex="13"
													style="margin:0px 5px 0px 0px"
													value="#{fornecedorControlador.fornecedor.site}" />
											</div>
										</h:column>

									</h:panelGrid>
								</div>

								<h:panelGrid columns="3" style="margin:0px 0px 0px 21px">
									<h:column>
										<div>
											<p:commandButton value="Salvar"
												style="margin:0px 5px 0px 0px;width:120px;background-image:none;background-color:lightgreen;border:none!important"
												action="#{fornecedorControlador.salvarFornecedor()}"></p:commandButton>
										</div>
									</h:column>

									<h:column>
										<div>
											<p:commandButton value="Pesquisar"
												style="margin:0px 5px 0px 0px;width:120px;background-image:none;background-color:PowderBlue;border:none!important"
												action="#{fornecedorControlador.chamaTelaPesquisaFornecedor()}"></p:commandButton>
										</div>
									</h:column>

									<h:column>
										<div>
											<p:commandButton value="Excluir"
												onclick="PF('exclusaoFornecedor').show()"
												style="background-image:none;width:120px;background-color:salmon;border:none!important" />
											<p:confirmDialog
												message="Tem certeza que deseja excluir o Fornecedor"
												header="Excluir Fornecedor" severity="alert"
												widgetVar="exclusaoFornecedor">
												<p:commandButton value="SIM"
													style="background-image:none;background-color:salmon;border:none!important"
													action="#{fornecedorControlador.deleteFornecedor(fornecedorControlador.fornecedor)}"
													oncomplete="PF('exclusaoFornecedor').hide()" />
												<p:commandButton
													style="background-image:none;background-color:lightGreen;border:none!important"
													value="NÃO" onclick="PF('exclusaoFornecedor').hide();" />
											</p:confirmDialog>
										</div>
									</h:column>

								</h:panelGrid>


							</div>
						</fieldset>
					</div>
				</h:form>
			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
