<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="estilos.css" />

</h:head>
<body>
	<ui:composition template="/paginas/template/template.xhtml">
		<ui:define name="conteudo">
			<h:form>
				<div>
					<h:panelGrid columns="4" style="margin:25px 0px 0px 0px">
						<h:column>
							<div>
								<p:selectOneMenu id="menuListaAFornecedores"
									value="#{fornecedorControlador.opcaoSelectFornecedor}"
									style="margin:0px 0px 5px 0px; width:160px;font-size: 16px">
									<f:selectItem itemLabel="Selecione a opção" itemValue="opcao" />
									<f:selectItem itemLabel="Razão Social" itemValue="Razao" />
									<f:selectItem itemLabel="Fantasia" itemValue="Fantasia" />
									<f:selectItem itemLabel="CPF/CNPJ" itemValue="CpfCnpj" />

								</p:selectOneMenu>
							</div>
						</h:column>

						<h:column>
							<div>
								<h:outputText value="" />
								<h:inputText style="margin:0px 0px 0px 0px" size="40"
									value="#{fornecedorControlador.textoPesquisaFornecedor}" />
							</div>
						</h:column>

						<h:column>
							<div>
								<p:commandButton
									action="#{fornecedorControlador.listarFornecedores()}"
									style="margin:0px 5px 0px 0px;background-image:none;background-color:PowderBlue;border:none!important"
									update="dataListaFornecedores" value="Pesquisar" />
							</div>
						</h:column>

						<h:column>
							<p:commandButton value="Imprimir"
								style="margin:0px 5px 0px 0px;background-image:none;background-color:orange;border:none!important"></p:commandButton>
						</h:column>


					</h:panelGrid>



					<p:dataTable id="dataListaFornecedores"
						emptyMessage="Nenhum registro encontrado"
						value="#{fornecedorControlador.listarFornecedores()}" var="f"
						paginator="true" rows="20" style="margin:10px 0px 0px 10px">

						<f:facet name="header">
						  Fornecedores Cadastrados
		 		        </f:facet>


						<p:column style="width:40px;">
							<f:facet name="header">
								<div align="center">
									<h:outputText style="font-size:14px" value="ID" />
								</div>
							</f:facet>
							<h:outputText value="#{f.id}" />
						</p:column>

						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="Razão Social" />
							</f:facet>
							<h:outputText value="#{f.nome}" />
						</p:column>

						<p:column style="width:35px;">
							<f:facet name="header">
								<div align="center">
									<h:outputText style="font-size:14px" value="Fantasia" />
								</div>
							</f:facet>
							<h:outputText value="#{f.fantasia}" />
						</p:column>

						<p:column style="width:45px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="CNPJ/CPF" />
							</f:facet>
							<div align="right">
								<h:outputText value="#{f.cnpjCpf}" />
							</div>
						</p:column>

						<p:column style="width:45px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="Telefone" />
							</f:facet>
							<div align="right">
								<h:outputText value="#{f.celular}" />
							</div>
						</p:column>



						<p:column style="width:30px;">
							<f:facet name="header">
								<h:outputText style="font-size:14px" value="Ações" />
							</f:facet>
							<h:commandLink
								action="#{fornecedorControlador.alterarFornecedor(f)}"
								value="Alterar" />
						</p:column>



					</p:dataTable>


				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
