<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
	<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<h:outputStylesheet library="css" name="estilos.css" />
</h:head>
<f:view>
	<body>



		<h:form>
			<div id="telaLogin">

				<p:messages />
					<p:panel header="Login do Sistema" style="width: 350;">
						<h:panelGrid columns="2">
							<h:outputText value="Login" />
							<h:inputText tabindex="1" value="#{usuarioControlador.usuario.login}" required="true"
								requiredMessage="Preenchimento do login obrigatório" />

							<h:outputText value="Senha" />
							<h:inputSecret tabindex="2 " value="#{usuarioControlador.usuario.senha}" required="true"
								requiredMessage="A senha não deve ser vazia" />

							<p:commandButton tabindex="3" value="Entrar"
								actionListener="#{usuarioControlador.logar}" ajax="false" />
						</h:panelGrid>
				</p:panel>


			</div>
		</h:form>



	</body>
</f:view>
</html>